main {
    max-width: 800px;
    margin: auto;
}
div {
    border: 1px solid gray;
    border-radius: 5px;
}
article {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px;
}
img {
    width: 100%;
    border-radius: 5px;
}
